.mainNav{
  display:flex;
  flex-direction:column;
}

.categoriesMenu{
  display:flex;
  flex-direction:column;
  gap:10px;
  width: 200px;
}

.category{
  display: flex;
  height:50px;
  width:200px;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  align-items: center;
}

.categoryName{
  margin-right:10px;
  margin-left: 5px;
}

.add-category-btn{
  display: flex;
  width: fit-content;
  height: 50px;
  justify-content: center;
  align-items: center;
}
