.mainParentShoppingCart{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.savedProductsParent{
  display: flex;
  height: fit-content;
  flex-direction: row;
  padding: 0;
  width:100%;
  gap: 10px;
  overflow: auto;
  list-style: none;
}

.savedProduct{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.savedProductDeleteIcon{
  position: absolute;
  opacity: 0;
}

.savedProduct:hover > .savedProductDeleteIcon{
  opacity: 1;
  transition-duration: 0.5s;
}

.savedProductImage{
  width: 250px;
  height:200px;
}

.clickedSavedProduct{
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.clickedImg{
  width: 500px;
  height: 100%;
}

.clickedProductCard{
 display: flex;
 flex-direction: column;
 height: fit-content;
 margin-inline-start: 10px;
 font-family: sans-serif;
}