.topNavBar{
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  background-color: #ffffff;
  background: #ffffff;
}

.storeOwnerDetailsLogo{
  width: 24px;
  height: 24px;
  margin: 10px;
}